extends layout

block content
  h1= title
  p Welcome to #{title}

  #app
    #coal
      h2#coal_label Coal
    #oil
      h2#oil_label Oil
    #trash
      h2#trash_label Trash
    #uranium
      h2#uranium_label Uranium
    
    h2#total $0

    label(for='number_of_players')
      input(id='number_of_players')

    button(id='phase1' value=1) phase1

    button(id='phase2' value=2) phase2

    button(id='phase3' value=3) phase3

    button(id='replenish') replenish

  script(src="/javascripts/main.js")